<nav class="navbar navbar-expand-lg navbar-light first-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto" style="direction: rtl">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/shop">السوق</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/pharmacies">الصيدليات </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/for-insures">التأمين الصحي</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/for-docs">الأطباء </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/about-us">عن يداوي </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/blog">المدونة </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/contact">تواصل معنا </a>
      </li>
      <li class="nav-item">
        <button routerLink="cart" class="btn text-light">
          <i style="font-size: 20px" class="fas fa-cart-plus"></i>
          <div style="font-size: 10px" class="badge bg-danger">
            {{ totalItem }}
          </div>
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="cursor: pointer" (click)="login()">{{
          loginText
        }}</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Start log&search -->
<div class="container-fluid pb-3" style="border-bottom: 1px solid #d9dee8">
  <div class="row">
    <div class="col-sm-3 col-md-3 text-right pr-md-5">
      <a routerLink="/home">
        <img src="../../assets/logo.jpg" height="80" />
      </a>
    </div>
    <div class="col-sm-9 col-md-6 text-center">
      <div class="search">
        <input type="text" />
        <a href="#"><i class="fas fa-search"></i></a>
      </div>
    </div>
    <div class="col-sm-12 col-md-3">
      <button routerLink="/profile" style="border: none; background: none">
        <i class="fas fa-user"></i>
      </button>
    </div>
  </div>
</div>
<!-- End log&search -->
