<nav class="navbar navbar-expand-lg navbar-light first-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" style="direction: rtl;">
        <li class="nav-item active">
          <a class="nav-link" href="#">السوق</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">الصيدليات </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">التأمين الصحي</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">الأطباء </a>
          </li>
        <li class="nav-item">
            <a class="nav-link" href="#">عن يداوي </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">المدونة </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">تواصل معنا </a>
          </li>
      </ul>
    </div>
  </nav>

<!-- Start log&search -->
  <div class="container-fluid pb-3" style="border-bottom:1px solid #D9DEE8;">
      <div class="row">
          <div class="col-sm-3 col-md-3 text-right pr-md-5">
              <img src="../../assets/logo.jpg" height="80">
          </div>
          <div class="col-sm-9 col-md-6 text-center">
              <div class="search">
                  <input type="text">
                  <a href="#"><i class="fas fa-search"></i></a>
              </div>
          </div>
          <div class="col-sm-12 col-md-3"></div>
      </div>
  </div>
<!-- End log&search -->

