.footer-one{background:#12233F;font-family: 'Tajawal', sans-serif !important;direction:rtl;}
.footer-one .row div{text-align:right;}
.footer-one .row div ul li{list-style-type:none;}
.footer-one .row div ul li{padding: 5px 0px;}
.footer-one .row div ul li a{color:#fff;text-decoration:none;font-size:20px;}
.footer-one .row div h1{font-family: 'Tajawal', sans-serif !important}

.footer-two{background:#12233F;font-family: 'Tajawal' !important;direction:rtl;}
.footer-two .row div{text-align:right;}
.footer-two .row div h2{color:#FF9923}
.footer-two .row div .fab{color:#9BABCD}
.footer-two .row div:nth-child(2) h4{color:#FF9923}
.footer-two .row div:nth-child(2) a img{margin:10px}
ul{padding:0px;}

/*tooltip Linkedin Box*/
.con-tooltip {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    }
    /*tooltip Linkedin*/
    .tooltip{
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: 70px;height:auto;
    padding: 0px 0px;
    background: #176DBA;
    color: #fff;
    position: absolute;
    top:-79.5%;
    right: -15px;
    font: 14px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    }
    /* tooltip  after Linkedin*/
    .tooltip::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #176DBA transparent transparent transparent;
    position: absolute;
    left: 40%;
    bottom:-60%
    }
    .con-tooltip:hover .tooltip{
    visibility: visible;opacity: 1;
    }
    /* ------------------------------------------ */
    /*tooltip Instagram Box*/
    .con-tooltip-insta {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    }
    /*tooltip Instagram */
    .tooltip-insta{
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: auto;height:auto;
    padding: 0px 5px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #fff;
    position: absolute;
    top:-79%;
    right: -23px;
    font: 14px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    }
    /* tooltip  after Instagram*/
    .tooltip-insta::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #dc2743 transparent transparent transparent;
    position: absolute;
    left: 40%;
    bottom:-50%
    }
    .con-tooltip-insta:hover .tooltip-insta{
    visibility: visible;opacity: 1;
    }
    
    
    /* --------------------- */
    
    /*tooltip Box Facebook*/
    .con-tooltip-facebook{
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
    }
    /*tooltip Facebook*/
    .tooltip-facebook{
    visibility: hidden;
    z-index: 1;
    opacity: .40;
    width: auto;height:auto;
    padding: 0px 5px;
    background: #3B5998;;
    color: #fff;
    position: absolute;
    top:-79%;
    right: -23px;
    font: 14px;
    transform: translateY(9px);
    transition: all 0.3s ease-in-out;
    }
    /* tooltip  after Facebook*/
    .tooltip-facebook::after {
    content: " ";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12.5px 0 12.5px;
    border-color: #3B5998 transparent transparent transparent;
    position: absolute;
    left: 40%;
    bottom:-50%
    }
    .con-tooltip-facebook:hover .tooltip-facebook{
    visibility: visible;opacity: 1;
    }