<div class="container-fluid mt-5 pt-5 footer-one">
    <div class="row mx-1">
        <div class="col-sm-12 col-md-3">
            <ul>
                <li><a href="#">مستلزمات الاستحمام</a></li>
                <li><a href="#">مستلزمات الاطفال</a></li>
                <li><a href="#">عالم المرأة</a></li>
                <li><a href="#">العناية بالشعر</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3">
            <ul>
                <li><a href="#">مستحضرات التجميل</a></li>
                <li><a href="#">منتجات التجميل الطبية</a></li>
                <li><a href="#">مستلزمات الرجال</a></li>
                <li><a href="#">العناية بالفم</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3">
            <ul>
                <li><a href="#">الصحة الجنسية</a></li>
                <li><a href="#">العناية الشخصية</a></li>
                <li><a href="#">عدسات لاصقة</a></li>
            </ul>
        </div>
        <div class="col-sm-12 col-md-3 text-white">
            <ul>
                <p>هل تريد مساعدة ؟</p>
                <h1>15005</h1>
                <p>نحن في خدمتكم 7  أيام في الأسبوع لمدة  24 ساعة!</p>
            </ul>
        </div>
    </div>
</div>



<div class="container-fluid footer-two pb-5">
    <div class="row mx-1">
        <div class="col-sm-12 col-md-6">
                <h2>تواصل معنا </h2>
                <a href="#">
                    <span class="con-tooltip">
                        <p><i class="fab fa-linkedin-in m-2"></i></p>
                        <span class="tooltip text-center">
                            <span>Linkedin</span>
                        </span>
                    </span>
                </a>
                <a href="#">
                    <span class="con-tooltip-insta">
                        <p><i class="fab fa-instagram m-2"></i></p>
                        <span class="tooltip-insta text-center">
                            <span>Instagram</span>
                        </span>
                    </span>
                </a>
                <a href="#">
                    <span class="con-tooltip-facebook">
                        <p><i class="fab fa-facebook-f m-2"></i></p>
                        <span class="tooltip-facebook text-center">
                            <span>Facebook</span>
                        </span>
                    </span>
                </a>
        </div>
        <div class="col-sm-12 col-md-6">
            <h4>حمل تطبيق شفاء :</h4>
            <a href="#"><img src="../../assets/google-187x55.png" alt=""></a>
            <a href="#"><img src="../../assets/app-store-164x55.png" alt=""></a>
        </div>
    </div>
</div>

