<!-- Start second navbar -->
<nav class="navbar navbar-expand-lg second-navbar">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
  
        <li class="nav-item">
          <a class="nav-link" href="#">مستلزمات الاستحمام </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">مستلزمات الاطفال </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">عالم المرأة </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">العناية بالشعر</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">مستحضرات التجميل </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">منتجات التجميل الطبية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">مستلزمات الرجال </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">العناية بالفم</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">الصحة الجنسية</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">العناية الشخصية </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">عدسات لاصقة</a>
          </li>
      </ul>
    </div>
  </nav>
  
  
  <!-- End second navbar -->
