<!-- Start second navbar -->
<nav class="navbar navbar-expand-lg second-navbar">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">مستلزمات الاستحمام </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">مستلزمات الاطفال </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">عالم المرأة </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">العناية بالشعر</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">مستحضرات التجميل </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">منتجات التجميل الطبية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">مستلزمات الرجال </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">العناية بالفم</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">الصحة الجنسية</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">العناية الشخصية </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/shop">عدسات لاصقة</a>
      </li>
    </ul>
  </div>
</nav>

<!-- End second navbar -->
