.container {
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(
    90deg hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );
}
.row {
  justify-content: space-around;
}
.card {
  margin: 10px auto;
  border: none;
  width: 500px;
  padding: 40px;
  background: hsla(205, 46%, 30%, 1);
  background: linear-gradient(
    90deg hsla(205, 46%, 30%, 1) 0%,
    hsla(260, 29%, 36%, 1) 100%
  );
}

.card h1,
h6 {
  color: #fff;
}

label {
  color: #fff;
}

/* ============================= */
/* .content {
  background: #02408a;
  height: 100vh;
  padding-top: 80px;
}
form {
  width: 50%;
  margin: auto;
  text-align: center;
}
a {
  color: #fff;
}
input[type="text"],
input[type="password"] {
  border-radius: 10px;
  width: 100%;
  border: 1px solid #fff;
} */
/*form{
    box-shadow: 1px 1px 5px #a7b0e0 , -2px -5px 5px #a7b0e0;
    padding:20px;
}*/
input[type="submit"] {
  border-radius: 10px;
  width: 20%;
  background-image: linear-gradient(
    to bottom right,
    rgb(117, 152, 202),
    rgb(225, 227, 235)
  );
  color: #000;
}
input[type="submit"]:hover {
  background-image: linear-gradient(
    to bottom right,
    rgb(225, 227, 235),
    rgb(117, 152, 202)
  );
  cursor: pointer;
}
h5 {
  color: #fff;
}
input.ng-invalid.ng-touched {
  border: 2px solid rgb(255, 62, 62);
}
input.ng-valid.ng-touched {
  border: 2px solid rgb(10, 165, 10);
}
span {
  color: red;
  font-size: 15px;
  text-align: right !important;
}
