<swiper
  [direction]="'vertical'"
  [pagination]="{
    clickable: true
  }"
  class="mySwiper"
>
  <ng-template swiperSlide>
    <div class="content">
      <div class="x-content">
        <h1>Health Insurance: Re-imagined</h1>
        <h2>
          Patient-centric experiences designed to make health insurance easier
        </h2>
        <div class="images">
          <img src="/assets/Insurers images/metlife.png" alt="" />
          <img src="/assets/Insurers images/axa.png" alt="" />
          <img src="/assets/Insurers images/mednet.png" alt="" />
          <img src="/assets/Insurers images/amc.png" alt="" />
          <img src="/assets/Insurers images/nextcare.png" alt="" />
          <img src="/assets/Insurers images/unicare.png" alt="" />
        </div>
        <p>
          Yodawy’s Doctor App is an innovative digital solution that enables
          physicians to focus on their medical practice rather than
          administration. Through issuing pre-approved prescriptions, doctors
          and patients save valuable time with an effortlessly digitized
          process.
        </p>
      </div>
      <a href="#">Scroll <span>↓</span></a>
    </div>
  </ng-template>
  <ng-template swiperSlide>
    <app-for-insurers-slider></app-for-insurers-slider>
  </ng-template>
</swiper>
