/* @import "~swiper/swiper";
@import "~swiper/components/navigation/navigation";
@import "~swiper/components/pagination/pagination"; */
/* @import "~swiper/css";
@import "~swiper/css/pagination"; */

.swiper-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.content {
  background-color: #02408a;
  color: #fff;
  height: 100%;
  text-align: center;
}
.content a {
  position: absolute;
  bottom: 50px;
  left: 50%;
  color: #fff;
}
.content a:hover {
  text-decoration: underline;
}
.x-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  width: 90%;
}
.x-content h1 {
  font-size: 65px;
  font-weight: bold;
}
.content .x-content p {
  font-size: 23px;
}
.images {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}
.images img {
  width: 120px;
  height: 120px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
