* {
  direction: rtl;
}
.modal-header {
  display: flex;
  justify-content: space-between;
}
.modal-header .btn-close {
  margin-right: 310px;
}
form p {
  text-align: right;
}
table thead {
  background: #12233f;
  color: #fff;
  font-family: Tajawal-extraBold !important;
}
table {
  font-family: Tajawal-extraBold !important;
}
