<div id="" class="content-two">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Get To Know The Doctor’s App</h1>
        <p>
          Scroll right to explore Yodawy’s doctor app features and get to know
          why this solution is a true revolution in the digital healthcare
          world.
        </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Modern Digital Prescriptions</h1>
        <h2>Designed with Doctors’ Needs in Mind</h2>
        <p>
          It has never been more essential to eliminate all unnecessary contact
          and physical interactions than now. Yodawy’s e-prescriptions are
          designed specifically to meet the needs of the modern-day doctor,
          whether by adding diagnosis or intuitively selecting dosages,
          frequencies, and durations- Yodawy’s doctor app is a beginning of a
          new era.
        </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Frequent Prescription Templates</h1>
        <h2>Customizable for Common Cases</h2>
        <p>
          Since Yodawy for Doctors is crafted in collaboration with top doctors
          in every specialty, doctors can create and save prescription templates
          for the most common types of cases on the app, and use these pre-saved
          templates repetitively with future cases to save time.
        </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Yodawy Doctors Database</h1>
        <p>
          Yodawy takes pride in its cutting-edge database where doctors can
          easily choose from a wide spectrum of available items
          specifically-tailored for each speciality.
        </p>
        <ul>
          <li>Search for pharmacy needs</li>
          <li>Check for availability</li>
          <li>Find updated prices</li>
          <li>Select alternatives</li>
        </ul>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Extended Pharmacy Network</h1>
        <h2>We’ve Got You Covered Wherever You Are</h2>
        <p>
          Yodawy connects doctors to a huge network of +4,000 pharmacies, spread
          across 28 governorates, catering to every doctor and their patient’s
          needs wherever they are. Patients receive their e-prescriptions
          instantly through SMS, WhatsApp, or the Yodawy user app to order from
          the nearest licensed pharmacy.
        </p>
      </div>
    </ng-template>
  </swiper>
</div>
