* {
  text-align: right;
  direction: rtl;
}

.card {
  margin: 70px auto;
  padding: 20px;
}

.card-text span {
  margin-left: 10px;
  margin-right: 0;
  color: rgb(179, 179, 179);
}

.card-body {
  text-align-last: right;
}

.card-body a {
  color: #fff;
  text-decoration: none;
  padding: 7px 40px;
  font-size: 20px;
}
