<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="text-center">
          <h1>Sign Up</h1>
          <h6>Register Now !!</h6>
        </div>
        <form>
          <form [formGroup]="signupform" (ngSubmit)="signUp()">
            <div class="mb-3 form-group">
              <label for="exampleInputfullname" class="form-label"
                >Full Name</label
              >
              <input
                formControlName="fullname"
                type="text"
                placeholder="Full Name"
                class="form-control"
                id="exampleInputfullname"
              />
              <span
                class="text-danger"
                *ngIf="
                  signupform.controls['fullname'].dirty &&
                  signupform.hasError('required', 'fullname')
                "
                >*Full Name is required</span
              >
            </div>
            <div class="mb-3 form-group">
              <label for="exampleInputmobile" class="form-label"
                >Mobile Number</label
              >
              <input
                formControlName="mobile"
                type="number"
                placeholder="Mobile Number"
                class="form-control"
                id="exampleInputmobile"
              />
              <span
                class="text-danger"
                *ngIf="
                  signupform.controls['mobile'].dirty &&
                  signupform.hasError('required', 'mobile')
                "
                >*Mobile is required</span
              >
            </div>
            <div class="mb-3 form-group">
              <label for="exampleInputEmail1" class="form-label"
                >Email address</label
              >
              <input
                formControlName="email"
                type="email"
                placeholder="Email"
                class="form-control"
                id="exampleInputEmail1"
                aria-describedby="emailHelp"
              />
              <span
                class="text-danger"
                *ngIf="
                  signupform.controls['email'].dirty &&
                  signupform.hasError('required', 'email')
                "
                >*Email is required</span
              >
              <div id="emailHelp" class="form-text">
                We'll never share your email with anyone else.
              </div>
            </div>
            <div class="mb-3 form-group">
              <label for="exampleInputPassword1" class="form-label"
                >Password</label
              >
              <input
                formControlName="password"
                type="password"
                placeholder="Password"
                class="form-control"
                id="exampleInputPassword1"
              />
              <span
                class="text-danger"
                *ngIf="
                  signupform.controls['password'].dirty &&
                  signupform.hasError('required', 'password')
                "
                >*Password is required</span
              >
            </div>
            <button
              [disabled]="!signupform.valid"
              style="margin-bottom: 10px"
              type="submit"
              class="btn btn-primary"
            >
              Sign Up
            </button>
          </form>
          <a style="color: #fff; margin-top: 10px" routerLink="/login"
            >Already Registered ? Click to Login !!</a
          >
        </form>
      </div>
    </div>
  </div>
</div>

<!-- ================================================== -->
<!-- <div class="content">
  <form #login="ngForm" class="">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-10 col-12">
          <input
            #n1="ngModel"
            type="text"
            name="fname"
            [(ngModel)]="fname"
            required
            minlength="3"
            maxlength="7"
          />
        </div>
        <div class="col-lg-2 col-12">
          <h5>الاسم الاول</h5>
        </div>
        <span *ngIf="n1.errors?.required && n1.touched"
          >الاسم الاول مطلوب!</span
        >
      </div>
      <div class="row mt-4">
        <div class="col-lg-10 col-12">
          <input
            #n2="ngModel"
            type="text"
            name="lname"
            [(ngModel)]="lname"
            required
            maxlength="7"
          />
        </div>
        <div class="col-lg-2 col-12">
          <h5>الاسم الاخير</h5>
        </div>
        <span *ngIf="n2.invalid && n2.touched" [hidden]="!n2.errors?.required"
          >الاسم الاخير مطلوب!</span
        >
      </div>
      <div class="row mt-4">
        <div class="col-lg-10 col-12">
          <input
            #n3="ngModel"
            type="email"
            name="email"
            [(ngModel)]="email"
            required
            maxlength="12"
          />
        </div>
        <div class="col-lg-2 col-12">
          <h5>البريد الاليكتروني</h5>
        </div>
        <span *ngIf="n3.invalid && n3.touched" [hidden]="!n3.errors?.required"
          >مطلوب البريد الاليكتروني!</span
        >
      </div>
      <div class="row mt-4">
        <div class="col-lg-10 col-12">
          <input
            #n4="ngModel"
            type="number"
            name="phone"
            [(ngModel)]="phone"
            required
            maxlength="12"
          />
        </div>
        <div class="col-lg-2 col-12">
          <h5>رقم التليفون</h5>
        </div>
        <span *ngIf="n4.invalid && n4.touched" [hidden]="!n4.errors?.required"
          >مطلوب رقم الهاتف!</span
        >
      </div>
    </div>
    <input
      class="mt-4"
      type="submit"
      value="التسجيل"
      [disabled]="login.invalid"
      (click)="loginpage(n1, n2)"
    />
  </form>
</div> -->
