<div class="content-two">
  <swiper
    [slidesPerView]="1"
    [spaceBetween]="30"
    [loop]="true"
    [pagination]="{
      clickable: true
    }"
    [navigation]="true"
    class="mySwiper"
  >
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>It’s Never Been Easier</h1>
        <h2>With a swipe and a tap, patients can now use their insurance</h2>
        <p>
          It only takes a few easy steps on your Yodawy app to sign up with your
          health insurance card and order your medications. Scroll right to see
          the required steps
        </p>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Scan Your Card</h1>
        <p>
          Once you login to Yodawy app, it will only take you a few minutes to
          complete your registration by scanning your insurance card or manually
          entering your insurance data.
        </p>
        <p>It’s as easy as:</p>
        <ul>
          <li>Choose your Healthcare provider to register</li>
          <li>Scan your insurance card</li>
          <li>Get verified instantly</li>
        </ul>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Upload Your Prescription</h1>
        <p>
          Upon completing your insurance registration, upload your insurance or
          monthly prescription. Confirm your request, sit back, and relax while
          we get approval for you.
        </p>
        <ul>
          <li>Upload your prescription</li>
          <li>Checkout with your cart</li>
          <li>Select your delivery address</li>
        </ul>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Get Your Insurance Approval</h1>
        <p>
          As soon as we receive your prescription, our AI-powered engine takes
          over and the magic begins. We do the work for you:
        </p>
        <ul>
          <li>Process the order</li>
          <li>Get your approval</li>
          <li>Forward it to your insurance provider</li>
          <li>Send your order with the approval to a licensed pharmacy</li>
        </ul>
      </div>
    </ng-template>
    <ng-template swiperSlide>
      <div class="x-content">
        <h1>Receive Your Insurance Items</h1>
        <p>
          Your insurance items will arrive effortlessly to your doorstep. Just
          like that.
        </p>
        <ul>
          <li>No waiting queues</li>
          <li>No pharmacy visits</li>
          <li>No filling of forms</li>
        </ul>
      </div>
    </ng-template>
  </swiper>
</div>
